<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Toys an Entertainment Category Flat bootstrap Responsive website Template | About :: w3layouts</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Toys Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/styles.css?v=1.6" rel="stylesheet">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script> 
<script src="js/scripts.js?v=1.7"></script>
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>	
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
<!-- for portfolio -->
<link rel="stylesheet" type="text/css" href="css/common.css" />
<!-- //for portfolio -->
</head>
<body>
	<!-- header -->
	<div class="banner about-bnr">
		<div class="navigation">
			<div class="container-fluid">
				<nav class="pull">
					<ul class="nav">
						<li><a href="index.html"> Home</a></li>
						<li><a href="about.html" class="active"> About</a></li>
						<li><a href="#" class="menu">Portfolio<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
							<ul class="nav-sub">
								<li><a href="portfolio.html">Portfolio 1</a></li>                                             
								<li><a href="portfolio.html">Portfolio 2</a></li>																								
								<li><a href="portfolio.html">Portfolio 3</a></li> 
							</ul>
							<script>
								$( "li a.menu" ).click(function() {
								$( "ul.nav-sub" ).slideToggle( 300, function() {
								// Animation complete.
								});
								});
							</script>
						<li><a href="codes.html"> Codes</a></li>
						<li><a href="contact.html"> Mail us</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header-top">
			<div class="container">
				<div class="head-logo">
					<h1><a href="index.html">Toys</a></h1>
				</div>
				<div class="top-nav">
					<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><img src="images/menu-icon.png" alt=""></a>
					</div>	
				</div>	
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//header -->
	<!--about-->
	<div class="about">
		<div class="container">
			<h3 class="hdng">About Us</h3>
			<script type="text/javascript">
					 $(window).load(function() {
						$("#flexiselDemo3").flexisel({
							visibleItems:2,
							animationSpeed: 1000,
							autoPlay: true,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems:2
								}, 
								landscape: { 
									changePoint:640,
									visibleItems:2
								},
								tablet: { 
									changePoint:768,
									visibleItems:2
								}
							}
						});
						
					});
			</script>
			<script type="text/javascript" src="js/jquery.flexisel.js"></script>
			<div class="about-grids">				
				<div class="col-md-6 about-slider">
					<ul id="flexiselDemo3">
						<li>
							<div class="biseller-column">
								<div class="banner-grid">
								  <img src="images/img6.jpg" class="img-responsive" alt="" />
								</div>
							</div>
						</li>
						<li>
							<div class="biseller-column">
									<div class="banner-grid">
										<img src="images/img7.jpg" class="img-responsive" alt="" />
									</div>
								</div>
						</li>
						<li>
							<div class="biseller-column">
									<div class="banner-grid">
									<img src="images/img8.jpg" class="img-responsive" alt="" />
									</div>
							</div>
						</li>
					</ul>
				</div>	
				<div class="col-md-6 about-grid">					
					<p>Santos Timber Company manufactures a wide range of wood products with a focus on decorative wood panels featuring beautiful wood veneers and laminatesAdipiscing elit, sed diam nonummy nibh euismod tinci-dunt ut laoreet dolore set.sit amet consectetuer Aadipi-scing elit, sed diam nonummy. nonummy nibh euismodtincidunt ut laoreet dolore magna.</p>
					<p class="welcome-text">lorem ipsum dolor seradipiscing elit, sed diam nonummy nibh set dolor.Sed diam nonummy nibh euismod tincidunt ut laoreetdolore set.sit amet consectetuer Aadipiscing elit, seddiam nonummy. </p>
				</div>
				<div class="clearfix"></div>									
			</div>
		</div>
		<div class="about-slid"> 
			<div class="container">
				<div class="about-slid-info"> 
					<h2>Lorem Ipsum is that it has a moreless normal</h2>
					<p>Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet embarrassing hidden in the middle of text.</p>
				</div>
			</div>
		</div>
		<!--team-->
		<div class="team">
			<div class="container">
				<h3 class="hdng">Meet Our Team</h3>
				<section class="main">
					<ul class="ch-grid">
						<li>
							<div class="ch-item ch-img-1">				
								<div class="ch-info-wrap">
									<div class="ch-info">
										<div class="ch-info-front ch-img-1"></div>
										<div class="ch-info-back">
											<h3>Officiis</h3>
											<p> Temporibus autem quibusdam.</p>
										</div>	
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-2">
								<div class="ch-info-wrap">
									<div class="ch-info">
										<div class="ch-info-front ch-img-2"></div>
										<div class="ch-info-back">
											<h3>Autem</h3>
											<p>Temporibus autem quibusdam.</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-3">
								<div class="ch-info-wrap">
									<div class="ch-info">
										<div class="ch-info-front ch-img-3"></div>
										<div class="ch-info-back">
											<h3>Feibus</h3>
											<p>Temporibus autem quibusdam.</p>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="ch-item ch-img-4">
								<div class="ch-info-wrap">
									<div class="ch-info">
										<div class="ch-info-front ch-img-4"></div>
										<div class="ch-info-back">
											<h3>Dapris</h3>
											<p>Temporibus autem quibusdam.</p>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<!--//team-->
		<!--about-skills-->
		<div class="about-skills">
			<div class="container">
				<div class="about-choose">
					<div class="col-md-4 about-choose-info">
						<h3 class="hdng">Popular</h3>
						<ul>
							<li><a href="#">Donec ut quam ligula feugiat.</a></li>
							<li><a href="#">Etiam volutpat tortor quis</a></li>
							<li><a href="#">Fusce vitae dolor vitae.</a></li>
							<li><a href="#">Proin commodo metus sed.</a></li>
							<li><a href="#">Nunc volutpat neque vel</a></li>
							<li><a href="#">condimentum fringilla </a></li>
							<li><a href="#">Vivamus consequat dolor.</a></li>
						</ul>
					</div>
					<div class="col-md-4 about-choose-info">
						<h3 class="hdng">Our History </h3>						
						<div class="histry">						
							<h4>2010-2012</h4>
							<h5><a href="#">Aenean pulvinar ac enimet </a></h5>
							<p>In sit amet sapien eros. Integer in tincidunt velit. Ut in tincidunt velit sapien est </p>
						</div>
						<div class="histry">						
							<h4>2012-2015</h4>
							<h5><a href="#">Aenean pulvinar ac enimet </a></h5>
							<p>In sit amet sapien eros. Integer in tincidunt velit. Ut in tincidunt velit sapien est </p>
						</div>
					</div>
					<div class="col-md-4 about-choose-info">
						<h3 class="hdng">Awards</h3>
						<ul>
							<li><a href="#">Donec ut quam ligula feugiat.</a></li>
							<li><a href="#">Etiam volutpat tortor lobortis</a></li>
							<li><a href="#">Fusce vitae dolor varius.</a></li>
							<li><a href="#">Proin commodo metus lobortis.</a></li>
							<li><a href="#">Nunc volutpat neque vel</a></li>
							<li><a href="#">condimentum fringilla</a></li>
							<li><a href="#">Vivamus consequat dolor</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>	
		</div>
		<!--//about-skills-->
	</div>
	<!--//about -->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">								
				<div class="col-md-3 footer-grids">
					<h3>Flickr Posts</h3>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f1.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f2.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f3.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f4.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f5.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="images/f6.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>
						<li><a href="codes.html">Codes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="index.html">Services</a></li>
						<li><a href="#">Help Center</a></li>
						<li><a href="contact.html">Mail to Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">	
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>					 
					    <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">					 
					</form>
					<div class="clearfix"> </div>
					<div class="icons">	
						<ul>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"> </a></li>
							<li><a class="twt" href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"> </a></li>
							<li><a class="gps" href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"> </a></li>
							<li><a class="in" href="#" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"> </a></li>
						</ul>
						<script>$(function () {
						  $('[data-toggle="tooltip"]').tooltip()
						})</script>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">		
			<p> © 2015 Toys . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>					
		</div>
	</div>
	<!--//footer-->		
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>