<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Toys an Entertainment Category Flat bootstrap Responsive website Template | Home :: w3layouts</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Toys Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" media="all">
<!-- <link href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" rel="stylesheet" media="all"> -->
<link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="all">
<!-- js -->
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<!-- //js -->
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!-- header -->
	<div class="banner header-bg">
		<div class="navigation">
			<div class="container-fluid">
				<nav class="pull">
					<ul class="nav">
						<li><a href="{{ url_for('index') }}"> Home</a></li>
						<li><a href="{{ url_for('about') }}"> About</a></li>
						<li><a href="#" class="menu">Portfolio<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
							<ul class="nav-sub">
								<li><a href="{{ url_for('portfolio') }}">Portfolio 1</a></li>
								<li><a href="{{ url_for('portfolio') }}">Portfolio 2</a></li>
								<li><a href="{{ url_for('portfolio') }}">Portfolio 3</a></li>
							</ul>
							<script>
								$( "li a.menu" ).click(function() {
								$( "ul.nav-sub" ).slideToggle( 300, function() {
								// Animation complete.
								});
								});
							</script>
						<li><a href="{{ url_for('codes') }}"> Codes</a></li>
						<li><a href="{{ url_for('contact') }}"> Mail us</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="header-top">
			<div class="container">
				<div class="head-logo">
					<h1><a href="{{ url_for('index') }}">Toys</a></h1>
				</div>
				<div class="top-nav">
					<div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
						<a href="#"><img  src="../static/images/menu-icon.png" alt=""></a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="banner-info">
			<!-- container -->
			<div class="container">
				<!--banner Slider starts Here-->
				<script src="../static/js/responsiveslides.min.js"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					  // Slideshow 3
					  $("#slider3").responsiveSlides({
						auto: true,
						pager: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						before: function () {
						  $('.events').append("<li>before event fired.</li>");
						},
						after: function () {
						  $('.events').append("<li>after event fired.</li>");
						}
					  });

					});
				</script>
				<!--//End-slider-script-->
				<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="bnr-text">
								<h4>A Special</h4>
								<h2>TOY STORE </h2>
								<p>Our New Collection</p>
							</div>
						</li>
						<li>
							<div class="bnr-text">
								<h4>Hi iam here</h4>
								<h2>Amet conse ctetur</h2>
								<p>Lorem ipsum dolor </p>
							</div>
						</li>
						<li>
							<div class="bnr-text">
								<h4>Welcome</h4>
								<h2>Lorem ipsum dolor</h2>
								<p>Amet conse ctetur </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"> </div>
	<!--//header -->
	<!-- welcome-->
	<div class="welcome">
		<div class="container">
			<h3 class="hdng">Welcome</h3>
			<p>Temporibus autem quibusdam et aut officiis debitis aut eveniet ut et voluptates repudiandae rerum necessitatibus saepe quibusdam et aut officiis debitis aut </p>
			<div class="welcome-info">
				<div class="col-md-4 welcome-grids">
					<div class="welcome-imgs welcm-top">
						<img src="../static/images/img1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Lorem ipsum</h4>
						</div>
					</div>
					<div class="welcome-imgs">
						<img src="../static/images/img2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Lorem ipsum</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 welcome-grids middle">
					<div class="welcome-imgs">
						<img src="../static/images/img3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Lorem ipsum</h4>
						</div>
					</div>
				</div>
				<div class="col-md-4 welcome-grids">
					<div class="welcome-imgs welcm-top">
						<img src="../static/images/img4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Lorem ipsum</h4>
						</div>
					</div>
					<div class="welcome-imgs">
						<img src="../static/images/img5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>Lorem ipsum</h4>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//welcome-->
	<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3 class="hdng">Services</h3>
			<div class="services-info">
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 servc-grid">
					<div class="servc-icon">
						<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
					</div>
					<h4>cum soluta nobis est eligendi</h4>
					<p>Itaque earum rerum hic tenetur a sapiente delectus aut reiciendis </p>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-3 footer-grids">
					<h3>Flickr Posts</h3>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f1.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f2.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f3.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f4.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f5.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="footer-grd">
						<a href="#">
							<img src="../static/images/f6.jpg" class="img-responsive" alt=" ">
						</a>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>
					<ul>
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('about') }}">About us</a></li>
						<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
						<li><a href="{{ url_for('codes')}}">Codes</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="#services">Services</a></li>
						<li><a href="#">Help Center</a></li>
						<li><a href="{{ url_for('contact') }}">Mail to Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>
					    <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">
					</form>
					<div class="clearfix"> </div>
					<div class="icons">
						<ul>
							<li><a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"> </a></li>
							<li><a class="twt" href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"> </a></li>
							<li><a class="gps" href="#" data-toggle="tooltip" data-placement="bottom" title="Google+"> </a></li>
							<li><a class="in" href="#" data-toggle="tooltip" data-placement="bottom" title="LinkedIn"> </a></li>
						</ul>
						<script>$(function () {
						  $('[data-toggle="tooltip"]').tooltip()
						})</script>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p> © 2015 Toys . All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>
