{% extends "header.html" %}
{% block content %}
	<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3 class="hdng"> Our Portfolio </h3>
			<div class="gallery-grids">
				<section>
					<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="images/img14.jpg">
								<img src="images/img14.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img15.jpg">
								<img src="images/img15.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img16.png">
								<img src="images/img16.png" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img17.jpg">
								<img src="images/img17.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img18.jpg">
								<img src="images/img18.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img20.jpg">
								<img src="images/img20.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img19.jpg">
								<img src="images/img19.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img21.jpg">
								<img src="images/img21.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="images/img22.jpg">
								<img src="images/img22.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
					</ul>
					<div class="clearfix"> </div>
				</section>
				<script type="text/javascript" src="js/jquery.hoverdir.js"></script>
				<script type="text/javascript">
					$(function() {

						$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

					});
				</script>
			</div>
		</div>
	</div>
	<!-- //gallery -->
{% endblock %}
